<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <ol>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post %> 
        <% if user_signed_in? %>
          - <em><strong><%= User.find(post.user_id).username %></strong>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>
