<p style="color: green"><%= notice %></p>

<ul id="posts" class="list-group list-group-flush">
    <% @posts.order('created_at DESC').each do |post| %>
      <li class="list-group-item"><%= link_to post.title, post %>
        <% if user_signed_in? %>
          - <%= User.find(post.user_id).username %>
        <% end %>
      </li>
    <% end %>
</ul>
