<p style="color: green"><%= notice %></p>

<div id="posts" class="posts-index-container">
    <% @posts.each do |post| %>
      <div class="posts-index-post"><%= link_to post.title, post %> 
        <% if user_signed_in? %>
          - <em><strong><%= User.find(post.user_id).username %></strong>
        <% end %>
      </div>
    <% end %>
</div>
