/* Font families */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Roboto&family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  overflow: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

.main-container {
  display: grid;
  background-color: rgba(255,255,255,0.95);
  margin: 5rem;
  justify-items: center;
  font-family: 'Inconsolata', monospace;
  /*border-width: 50px;
  border-style: solid;
  /*border-image: url("floral-bg.jpg") 40 40 3 round;*/
}

/* HEADER */

.navbar {
  height: 50px;
  padding: 0 1.5rem;
  margin: 0;
  background-color: rgb(25, 25, 146);
}

.navbar .container-fluid {
  gap: 3rem;
}

.navbar-nav {
  gap: 2rem;
  font-size: 20px;
  align-items: center;
}

.header-title {
  margin: 0;
  padding: 0;
}
.posts-index-header {
  padding: 16px;
  text-align: center;
  margin-bottom: 3rem;
  width: 100%;
}

#posts {
  width: 50%;
}

.posts-list-item {
  display: grid;
  grid-template: " title author date ";
  grid-template-rows: 40% 20% 40%;
}

.post-text {
  grid-area: title;
}

.post-index-author {
  grid-area: author;
  justify-self: center;
}

.post-index-creation-date {
  grid-area: date;
  justify-self: end;
  text-align: end;
}